<app-nav></app-nav>
<div class="container py-4">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <img class="mw-100" src="https://ke.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/38/423802/1.jpg?1653">
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <div class="pb-2">
                <h5>HP Refurbished EliteBook 840 Intel Core i7 500HDD 8GB RAM Black</h5>
                <strong >$196.24</strong>
            </div>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
            <button class="btn btn-primary col-12" type="button">Add to cart</button>
          </div>
        </div>
      </div>
</div>
<app-footer></app-footer>