
<div class=" d-flex justify-content-center">
    <div class=" box pb-5" >
       <a routerLink="/items/{{item.slug}}"  class="d-flex justify-content-center img-holder ">
            <img src="{{baseUrl + item.image.formats.thumbnail.url}}"  class="bg-light">
    
       </a>
           
               <div class="pb-2 pt-2" >
                  <a routerLink="/items/{{item.slug}}" >
                    {{item.title}}
                   </a>
               </div>
              <div class="pb-2">
                <strong class="text-muted">${{ item.price * quantity }}</strong>
              </div>        
            
              <div class="number-input safari_only mb-0 w-100">
                <button id="basic-example-decrease" (click)="decrement()">-</button>
                <input class="quantity" min="0" name="quantity" value="{{quantity}}" type="number">
                <button id="basic-example-add" (click)="increment()">+</button>
              </div>
              <button type="button" class="add-to-cart btn btn-sm btn-outline-secondary" (click)="addToCart(item)">Add to cart</button>
              
      </div>
</div>
